body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  width: 1440px;
  margin: 0 auto;
}

header{
  background-color: rgb(0, 0, 0);
  color: white;
  margin: 0;
  padding: 0;
  height: 50px;
  padding-top: 12px;
  font-family: 'Roboto', sans-serif;
}

.slogan > span{
  font-size: 25px;
  margin: 0 10px;
}

.slogan{
  font-size: 15px;
  word-spacing: 5px;
  letter-spacing: 1px;
}

.header-left a {
  float: right;
  margin: 5px 20px;
  color: white;
  text-decoration: none;
}





.sub-header {
  background-color: rgb(43, 117, 167);
  height: 20px;
  padding: 7px 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-bottom: 50px;
}

.sub-header > span > a{
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border-right: 0.1px solid white;
}

.sub-header > span > a:hover{
  color: rgb(19, 66, 97);
}


.search-block{
  float: right;
  height: 30px;
}
.search-block input{
  height: 30px;
  width: 200px;
  padding: 5px;
  border: 1px solid rgb(3, 3, 46);
  position: relative;
  bottom: 5px;
  outline: none;
  font-size: 15px;
  font-weight: 500;
  color: rgb(73, 160, 73);
}

.search-block button{
  height: 30px;
  padding: 5px;
  background-color: rgb(73, 160, 73);
  border: 1px solid rgb(73, 160, 73);
  color: white;
  position: relative;
  bottom: 5px;
  outline: none;
  font-size: 15px;
  font-weight: 500;
}

.search-block button:hover{
  height: 30px;
 background-color: rgb(28, 75, 28);
}
